.topisWrapper{
    padding: 1.5rem 1rem;
}

.aboutSite{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutDesc h1{
    font-size: 2.2rem;
}
.aboutDesc p{
    margin: 20px 0;
    font-size: 1.1rem;
}
.aboutDesc p:nth-child(3){
    font-weight: 800;
    letter-spacing: 8px;
    color: var(--themeColor);
}

.aboutImg{
    text-align: right;
}
.aboutImg img{
    width: 70%;
    border-radius: 10px;
}

.allQuiz{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 120px 0px;
}
@media(max-width:760px){
    .allQuiz{
        grid-template-columns: repeat(2, 1fr);
    }
    .aboutSite{
        flex-direction: column;
    }
    .aboutImg{
        text-align: center;
    }
}
@media(max-width:600px){
    .allQuiz{
        grid-template-columns: repeat(1, 1fr);
    }
}