.quiz{
    padding: 2rem 5rem;
    box-shadow: 1px 1px 7px 0px #626262;    
    margin-bottom: 50px;
}

.question{
    text-align: center;
    color: var(--themeColor);
}
.question h1{
    font-weight: 300;
    margin-bottom: 50px;
}

.options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}