header{
    position: sticky;
    top: 0;
    background-color: #282c34;
    z-index: 10;
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.logo{
    font-size: clamp(1.5rem, 4vw, 2rem);
}
.logo span{
    font-weight: 800;
    color: #3cb6de;
}
nav a{
    font-size: 1.1rem;
    padding: 1rem;
}